@(taskForm: Form[Task])(categories: List[Category])
@import helper._
@main("Add a new task") {
  <div class="container-fluid">
      <!--Register title row -->
    <div class="row">
      <div class="col-md-12" style="margin-top: 90px">
        <h3>
          Add a new task
        </h3>
        <br/>
      </div>
    </div> <!--End register title  row-->

    <!--=======Form row============ -->
    <div class="row">
      <div class="col-md-12">

      @helper.form(action = routes.TaskController.saveTask(), 'class -> "form-horizontal", 'role -> "form") {


        <div class="form-group">

          <label for="name" class="col-sm-2 control-label">
            Title:<abbr class="req" title="required"> *</abbr>
          </label>
          <div class="col-sm-10">
            <input placeholder="Task title" name="name" type="text" class="form-control" id="task_title" required="required">
            <span id="equalName" class="alert-danger" data-error-for="" ></span>
          </div>
        </div>

        <div class="form-group">

          <label for="date" class="col-sm-2 control-label">
            Date:<abbr class="req" title="required"> *</abbr>
          </label>
          <div class="col-sm-10">
            <input id="task-date" name="date" type = date>
          </div>
        </div>

        <div class="form-group">
          <label for="category" class="col-sm-2 control-label">
            Category:<abbr class="req" title="required"> *</abbr>
          </label>
          <div class="col-sm-3">
            <select id="task-category" class="form-control sortAlphabetically" name="category" required="required">
              <option value="">--Select one--</option>
              @for(category <- categories) {
                <option value="@category.getId">@category.getName</option>
              }
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div>
              <input id="buttonsubmit" type="submit" class="btn btn-primary" value="Add Task">
            </div>
          </div>
        </div>

      </div>
      }
    </div>
  </div>
}